[submodule "Submodules/OCHamcrest"]
	path = Submodules/OCHamcrest
	url = git://github.com/hamcrest/OCHamcrest.git
[submodule "Submodules/OCMock"]
	path = Submodules/OCMock
	url = git://github.com/erikdoe/ocmock.git
