[submodule "Submodules/OCHamcrest"]
	path = Submodules/OCHamcrest
	url = git://github.com/hamcrest/OCHamcrest.git
[submodule "Submodules/OCMock"]
	path = Submodules/OCMock
	url = git://github.com/erikdoe/ocmock.git
[submodule "Submodules/OCMockito"]
	path = Submodules/OCMockito
	url = git://github.com/jonreid/OCMockito.git
[submodule "Submodules/Stubbilino"]
	path = Submodules/Stubbilino
	url = git://github.com/itsthejb/Stubbilino.git
[submodule "Submodules/Kiwi"]
	path = Submodules/Kiwi
	url = git://github.com/allending/Kiwi.git
